body {
  background: url('https://www.wallpapersbrowse.com/images/a5/a5tbi6q.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}